<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Wriggle</string>
		<key>date</key>
		<date>2014-08-02T23:00:00Z</date>
		<key>url</key>
		<string>http://www.telegraph.co.uk/finance/newsbysector/retailandconsumer/11775112/Groupon-rival-Wriggle-raises-500000-to-seize-market-share-in-London.html</string>
	</dict>
	<dict>
		<key>description</key>
		<string>lyft</string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string></string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>description</key>
		<string>Apple</string>
		<key>date</key>
		<date>1976-03-31T23:00:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Apple_Inc</string>
	</dict>
</array>
</plist>
